@model Airways.ViewModels.FlightSearchResultsVM

<div class="search-results">
    <div class="alert alert-info">

        <!-- depending on the amount of lines in the connection -->

        @if (Model.Lines == 1)
        {
            <p><strong>STEP 2: </strong>Select your preferred day for your flight.</p>
        }
        else if (Model.Lines == 2)
        {
            <p><strong>STEP 2: </strong>Select your preferred day for each of your <strong>2</strong> connecting flights.</p>
        }
        else if (Model.Lines == 3)
        {
            <p><strong>STEP 2: </strong>Select your preferred day for each of your <strong>3</strong> connecting flights.</p>
        }
    </div>

    @if (Model.Lines >= 1 && Model.FlightNumber1.HasValue)
    {
        
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr><!-- header of table -->
                                <th>Date</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Departure</th>
                                <th>Arrival</th>
                                <th>Economy</th>
                                <th>Business</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                    <tr>
                                        <td>@Model.Line1Flight.Date.ToString("yyyy-MM-dd")</td>
                                        <td>@Model.Line1DepartureCity</td>
                                        <td>@Model.Line1ArrivalCity</td>
                                        <td>@Model.Line1Flight.FlightNumberNavigation.DepartureTime.ToString("HH:mm")</td>
                                        <td>@Model.Line1Flight.FlightNumberNavigation.ArrivalTime.ToString("HH:mm")</td>
                                        <td>@Model.Line1Flight.PriceEconomy.ToString("C")</td>
                                        <td>@Model.Line1Flight.PriceBusiness.ToString("C")</td>
                                        <td>
                                        <td>
                            <a href="javascript:void(0)"
                               onclick="customizeFlight(@Model.Line1Flight.FlightId, '@Model.Line1Flight.Date.ToString("yyyy-MM-dd")', '@Model.Line1Flight.PriceEconomy.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)', '@Model.Line1Flight.PriceBusiness.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)', @Model.Line1Flight.FlightNumber)"
                               class="btn btn-sm btn-outline-dark">
                                <i class="bi bi-chevron-right"></i>
                            </a>
                                        </td>
                                        </td>
                                    </tr>
                                }
                            
                        </tbody>
                    </table>
                </div>
            
    }

    @if (Model.Lines >= 2 && Model.FlightNumber2.HasValue)
    {
        
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                    <tr>
                        <!-- header of table -->
                                <th>Date</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Departure</th>
                                <th>Arrival</th>
                                <th>Economy</th>
                                <th>Business</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                    <tr>
                                        <td>@Model.Line2Flight.Date.ToString("yyyy-MM-dd")</td>
                                        <td>@Model.Line2DepartureCity</td>
                                        <td>@Model.Line2ArrivalCity</td>
                                        <td>@Model.Line2Flight.FlightNumberNavigation.DepartureTime.ToString("HH:mm")</td>
                                        <td>@Model.Line2Flight.FlightNumberNavigation.ArrivalTime.ToString("HH:mm")</td>
                                        <td>@Model.Line2Flight.PriceEconomy.ToString("C")</td>
                                        <td>@Model.Line2Flight.PriceBusiness.ToString("C")</td>
                                        <td>
                                        <td>
                            <a href="javascript:void(0)"
                               onclick="customizeFlight(@Model.Line2Flight.FlightId, '@Model.Line2Flight.Date.ToString("yyyy-MM-dd")', '@Model.Line2Flight.PriceEconomy.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)', '@Model.Line2Flight.PriceBusiness.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)', @Model.Line2Flight.FlightNumber)"
                               class="btn btn-sm btn-outline-dark">
                                <i class="bi bi-chevron-right"></i>
                            </a>
                                        </td>
                                        </td>
                                    </tr>
                                
                        </tbody>
                    </table>
                </div>
            
    }

    @if (Model.Lines >= 3 && Model.FlightNumber3.HasValue)
    {
        
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                    <tr>
                        <!-- header of table -->
                                <th>Date</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Departure</th>
                                <th>Arrival</th>
                                <th>Economy</th>
                                <th>Business</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                    <tr>
                                        <td>@Model.Line3Flight.Date.ToString("yyyy-MM-dd")</td>
                                        <td>@Model.Line3DepartureCity</td>
                                        <td>@Model.Line3ArrivalCity</td>
                                        <td>@Model.Line3Flight.FlightNumberNavigation.DepartureTime.ToString("HH:mm")</td>
                                        <td>@Model.Line3Flight.FlightNumberNavigation.ArrivalTime.ToString("HH:mm")</td>
                                        <td>@Model.Line3Flight.PriceEconomy.ToString("C")</td>
                                        <td>@Model.Line3Flight.PriceBusiness.ToString("C")</td>
                                        <td>
                                        <td> <!-- button that calls javascript and uses action with parameters -->
                            <a href="javascript:void(0)"
                               onclick="customizeFlight(@Model.Line3Flight.FlightId, '@Model.Line3Flight.Date.ToString("yyyy-MM-dd")', '@Model.Line3Flight.PriceEconomy.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)', '@Model.Line3Flight.PriceBusiness.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)', @Model.Line3Flight.FlightNumber)"
                               class="btn btn-sm btn-outline-dark">
                                <i class="bi bi-chevron-right"></i>
                            </a>
                                        </td>
                                        </td>
                                    </tr>
                                
                        </tbody>
                    </table>
                </div>
          
    }
</div>

<script>
    function customizeFlight(flightId, travelDate, priceEconomy, priceBusiness, flightNumber) {
        console.log("Customizing flight:", flightId, travelDate, priceEconomy, priceBusiness, flightNumber);

        

        fetch(`/Search/CustomizeFlight?flightId=${flightId}&travelDate=${travelDate}&priceEconomy=${priceEconomy}&priceBusiness=${priceBusiness}&flightNumber=${flightNumber}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                document.getElementById('booking-details-container').innerHTML = data;
                console.log("Flight details loaded");
            })
            .catch(error => {
                console.error('Error fetching flight details:', error);
            });
    }
</script>